* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
