.counter {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;

  &__title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: center;

    & span {
      background-color: #f0f0f0;
      padding: 4px 8px;
      border-radius: 3px;
      font-weight: bold;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;

    & button {
      width: 40px;
      height: 40px;
      font-size: 24px;
      border-radius: 8px;
      border: none;
      background-color: #0070f3;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #005bb5;
      }
    }
  }
}

.form {
  text-align: center;

  &__title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: center;
  }

  &__input {
    width: 100px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
      border-color: #0070f3;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
    }
  }
}
