.container {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header p {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
}

.arrowBack a img {
  object-fit: cover;
}

.ticketOrFare {
  margin-top: 20px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 3px;
  width: fit-content;
}

.ticketBtn {
  padding: 10px 60px;
  border: none;
  background: transparent;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.3s;
  color: #000;
  cursor: pointer;
}

.ticketBtn.active,
.active {
  background-color: white;
  color: green;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 8px 12px 0px #d2d2d2;
  margin-top: 20px;
  padding: 10px;
  background-color: #fefefe;
}

.mainTop {
  display: flex;
}

.rightPart {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 4px 6px 0px #d2d2d2;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    object-fit: contain;
    width: 50px;
    height: 75px;
  }
}

.leftPart {
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.series {
  font-weight: bold;
}

.mainMiddle {
  display: flex;
  justify-content: center;
  width: 120px;
  margin: 20px auto 0 auto;
  border-radius: 20px;
  box-shadow: 0px 4px 6px 0px #d2d2d2;
  padding: 10px;

  & img {
    object-fit: contain;
  }
}

.mainNumber {
  text-align: center;
  margin-top: 17px;
  font-size: 20px;
  font-family: sans-serif;
}

.carriage {
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  color: #808080;
}

.data {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 45px;
  font-size: 17px;
  font-family: sans-serif;
  color: #808080;
}

.dataText {
  text-align: center;
  margin-bottom: 5px;
}

.dataBottom {
  color: #000;
  text-align: center;
}

.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  font-family: sans-serif;
  color: #41c512;
}

.footerText {
  text-align: center;
}

.timer {
  font-size: 28px;
  font-weight: bold;
}

.bottomButton {
  margin-top: 50px;
  padding: 15px;
  font-size: 16px;
  background-color: #41c512;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
